# Projeto - Análise de residências

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import itertools
# import plotly.graph_objects as go
# from biokit.viz import corrplot

# configurações
import warnings
warnings.filterwarnings('ignore')

In [3]:
imoveis = pd.read_csv('../data/HousePrices_HalfMil.csv', sep=';')

In [4]:
imoveis

     precos  area  garagem  banheiros  lareira  marmore  andares
0     51875    25        3          4        3        0        1
1     17875    35        1          3        1        0        0
2     47075   195        2          4        2        0        0
3     38575    33        2          2        1        0        1
4     33775    11        2          3        0        0        1
..      ...   ...      ...        ...      ...      ...      ...
995   29150    48        1          5        4        0        0
996   43550   112        2          2        3        0        1
997   56575   185        3          4        4        0        1
998   56075   185        2          3        1        0        1
999   13350    94        1          1        3        0        0

[1000 rows x 7 columns]

In [52]:
imoveis.precos.mean()

41985.6

In [55]:
amostras = imoveis.sample(500)
amostras.precos.mean()

41985.35

In [ ]:


corr_graph = corrplot.Corrplot(imoveis.corr())
corr_graph.plot(upper='ellipse', fontsize='x-large')
fig = plt.gcf() # "pega a figura atual"
fig.set_size_inches(13, 8)
plt.title("Correlação entre os atributos", fontsize=18)